/* Стилизация шапки */

.header {
  background-color: #fff;
  height: 293px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

/* Стилизация навигации шапки */

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  margin-bottom: 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/* отступ нижнего подчеркивания ссылки относительно текста ссылки */
.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

/* Стилизация логотипа шапки */

.header__logo {
  height: 100%;
  width: 100%;
}

.header__logo-image {
  height: 100%;
  width: auto;
  max-width: 136px;
}

/* Стилизация блока контактной информации шапки */

.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9px;
  margin-bottom: 5px;
}

.header__address {
  padding-left: 184px;
}

.address_tel,
.address_mail {
  font-style: normal;
  text-underline-offset: 4px;
}

.address_location {
  font-style: normal;
}

.address_tel,
.address_mail,
.address_location {
  line-height: 24px;
}

/* Стилизация блока main */

/* Стилизация секции cover */

.cover {
  background-image: url(../images/cover.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Стилизация заголовка */

.cover__title {
  font-weight: bold;
  color: #fff;
  font-size: 100px;
  line-height: 115px;
  margin-bottom: 106px;
}

.accent-span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.30em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Стилизация блока описания cover */

.cover__description {
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}

.cover__description-text {
  word-spacing: 0.85em;
  font-weight: 400;
}

.bet-button {
  width: 255px;
  height: 100%;
  border: 1px solid #fff;
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}