/* Стилизация шапки */

.header {
  background-color: #fff;
  height: 293px;
  padding: 94px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

/* Стилизация навигации шапки */

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/* отступ нижнего подчеркивания ссылки относительно текста ссылки */
.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

/* Стилизация логотипа шапки */

.header__logo {
  height: 100%;
  width: 100%;
}

.header__logo-image {
  height: 100%;
  width: auto;
  max-width: 136px;
}

/* Стилизация блока контактной информации шапки */

.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9px;
}

.header__address {
  padding-left: 184px;
}

.address_tel,
.address_mail {
  font-style: normal;
  text-underline-offset: 4px;
}

.address_location {
  font-style: normal;
}

.address_tel,
.address_mail,
.address_location {
  line-height: 24px;
}