/* Стилизация шапки */

.header {
  background-color: #fff;
  height: 293px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

/* Стилизация навигации шапки */

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  margin-bottom: 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/* отступ нижнего подчеркивания ссылки относительно текста ссылки */
.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

/* Стилизация логотипа шапки */

.header__logo {
  height: 100%;
  width: 100%;
}

.header__logo-image {
  height: 100%;
  width: auto;
  max-width: 136px;
}

/* Стилизация блока контактной информации шапки */

.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  margin-bottom: 5px;
}

.header__address {
  justify-content: center;
  padding-left: 184px;
}

.address_tel,
.address_mail {
  font-style: normal;
  text-underline-offset: 4px;
}

.address_location {
  font-style: normal;
}

.address_tel,
.address_mail,
.address_location {
  line-height: 24px;
}

/* Стилизация блока main */

/* Стилизация секции cover */

.cover {
  background-image: url(../images/cover.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Стилизация заголовка */

.cover__title {
  font-weight: bold;
  color: #fff;
  font-size: 100px;
  line-height: 115px;
  margin-bottom: 106px;
}

.accent-span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.30em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Стилизация блока описания cover */

.cover__description {
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}

.cover__description-text {
  word-spacing: 0.85em;
  font-weight: 400;
}

.bet-button {
  width: 255px;
  height: 100%;
  border: 1px solid #fff;
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}

/* Стилизация секции lots */

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  margin: 27px 0 30px;
  justify-content: space-between;
}

.lots_card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  height: 596px;
  width: 334px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration-line: underline;
  line-height: 120%;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 40px;
  text-underline-offset: 5px;
}

/* Стилизация секции about */

.about {
  display: grid;
  padding: 35px 24px 0;
  grid-template-columns: min-content 1fr;
  gap: 72px;
}

.about__logo {
  margin-left: 47px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__column-info {
  padding-top: 101px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-right: 5px;
  letter-spacing: 0;
}

.about__text:last-child {
  margin-top: 24px;
  padding-right: 0;
}

/* Стилизация секции footer */

.footer {
  margin-top: 180px;
  height: 180px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 50px;
}

.footer__address {
  font-size: 18px;
  line-height: 24px;
  margin-left: 0;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

footer img {
  width: 100px;
}